div {
    align-items: center;
    label {
      margin-right: 15px;
      font-size: 26px;
    }
    select {
      padding: 8px;
      font-size: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
  
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }
  .title{
    text-align: center;
    margin: 0;
    padding: 0;
  }
