<!-- board.component.html -->
<div>
    <label for="speedSelect">Select Speed:</label>
    <select id="speedSelect" [(ngModel)]="selectedSpeed" (change)="onSpeedChange()">
      <option value="Slow">Slow</option>
      <option value="Normal">Normal</option>
      <option value="Faster">Faster</option>
    </select>
  </div>
  <div>
    <label for="cardOptionSelect">Select Number of Cards:</label>
    <select id="cardOptionSelect" [(ngModel)]="selectedCardOption" (change)="onCardOptionChange()">
      <option value="6">6 cards</option>
      <option value="12">12 cards</option>
    </select>
  </div>
  <div class="board">
    <div *ngFor="let card of cards.slice(0, numRows * numCols)">
      <app-card [value]="card.value" (cardClicked)="handleCardClicked($event)"></app-card>
    </div>
  </div>
    
  <div *ngIf="allCardsMatched()">
    <p>Congratulations! All cards matched in {{ stepCount }} steps!</p>
  </div>
  <div *ngIf="missedAttempts > 0">
    <p>Missed Attempts: {{ missedAttempts }}</p>
  </div>